@import '../App.css';

.nav-links {
   padding: 0;
   margin: 0;
   background-color: darkred;
  
}

ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: darkred;
 }

li {
   float: left;
 }

 #login-signup {
padding: inherit;
margin-top: 45px;
display: flex;
direction: rtl;
text-indent: 25px;
 }

li a {
   display: block;
   color: white;
   padding: 14px 16px;
   text-decoration: none;
}

li a:hover {
   background-color: #111;
 }



 